.App {
  text-align: center;
}

html,
body,
#root {
  width: 100%;
  height: 100%;
}

.point {
  /*background-image: url(./assets/7Sy.svg);*/
  /*width: 20px;*/
  /*height: 20px;*/
  /*border-radius: 5px;*/
  position: absolute;
  transition: all 1s;
}

#root {
  display: flex;
  justify-content: center;
  align-items: center;
}

.wrapper {
  background-image: url(./assets/plan.jpg);
  background-size: cover;
  position: relative;
  width: 100vw;
  height: 64vw;
  color: blue;
}

.wrapper img {
  width: 20px;
  height: 20px;
  fill: red;
}

@media (min-aspect-ratio: 960/616) {
  .wrapper {
    width: 156vh;
    height: 100vh;
  }
}

.wow {
  position: absolute;
  top: 0;
  right: 0;
  color: lightgray;
  font-size: 60px;
  margin: 10px;
}
